body {
  margin: 0;
  padding: 0;
  background-color: rgb(36, 36, 36);
  color: rgb(255, 239, 216);
  font-family: "Caveat", cursive;
  text-align: center;
}
main {
  margin: 25px;
}
ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding-left: 25px;
  gap: 25px;
}
li {
  width: 200px;
}
li:first-of-type {
  height: 55px;
}
.btn {
  background-color: red;
  color: rgb(250, 244, 244);
  border: none;
  border-radius: 5px;
  width: 100px;
  height: 25px;
  transition: 0.4s;
}
.btn:hover {
  background-color: rgb(255, 69, 69);
  cursor: pointer;
  transform: scale(1.2);
}
div {
  text-align: center;
}
#my-pic {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
}
#profile-pic {
  height: 400px;
  border-radius: 100px;
  border: 2px double red;
}
#hobbies {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 15px;
}
#hobbies > ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  gap: 25px;
}
.hobbies-class {
  height: 200px;
  width: 200px;
  border-radius: 500px;
  border: 2px double red;
  transition: 0.4s;
}
.hobbies-class:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.hobbies-class:active {
  transform: scale(2);
  cursor: grab;
}
#git {
  color: red;
  font-size: 100px;
  transition: 0.4s;
}
#git:hover {
  transform: scale(1.2);
  color: rgb(127, 0, 146);
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
}
#home-con {
  background-color: rgb(36, 36, 36);
  height: fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}
#home {
  margin: 5px;
  padding: 5px;
  color: red;
  font-size: 100px;
  transition: 0.4s;
}
#home:hover {
  transform: scale(1.2);
  color: rgb(255, 131, 131);
}
#linkedin {
  color: red;
  font-size: 50px;
  transition: 0.4s;
}
#linkedin:hover {
  color: rgb(32, 95, 242);
}
#whatsapp {
  color: red;
  font-size: 50px;
  transition: 0.4s;
}
#whatsapp:hover {
  color: rgb(0, 214, 25);
}
#mail {
  color: red;
  font-size: 50px;
  transition: 0.4s;
}
#mail:hover {
  color: rgb(255, 255, 255);
}
#contacts {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-item {
  transition: 0.4s;
}
.contact-item:hover {
  transform: scale(1.2);
}
h1,
h2,
h3,
h4 {
  text-shadow: 3px 3px 1px rgb(0, 0, 0);
}
